<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Auth</title>
</head>
<body>
    <header>
        <h1>To Do App</h1>
        <h2>Add Task</h2>
        <div class="container">
          <form action="/addtask" method="POST">
              <input type="text" name="newtasks" placeholder="add new task">
          <button>Add Task</button>
          <h2>Remove Task</h2>
              <input type="text" name="removetasks" placeholder="remove task">
            <button action="/removetask" type="submit">Remove Task</button>
          </form>
          <h2>Previous Tasks Completed</h2>
        </div>
        <nav>
            <ul>
              <% if (!currentUser) { %>
                <li><a href="/auth/signup">Signup</a></li>
                <li><a href="/auth/login">Login</a></li>
              <% } else { %>
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/profile">Profile</a></li>
              <% } %>
            </ul>
          </nav>
    </header>
    <%- include('partials/alerts') %>
    <%- body %> 
</body>
</html>